## Header

{% include "common/header" %}

{% include "Darwin/header" %}

## Environment Variables

{% include "common/env" %}

{% include "Darwin/env" %}

## Aliases

{% include "common/alias" %}

{% include "Darwin/alias" %}

## Functions

{% include "common/function" %}

{% include "Darwin/function" %}

## Plugins

{% include "Darwin/plugin" %}

{% include "common/plugin" %}

## History

{% include "common/history" %}

{% include "Darwin/history" %}

## Completions

{% include "common/completion" %}

{% include "Darwin/completion" %}

## Footer

{% include "common/footer" %}

{% include "Darwin/footer" %}
